@model IEnumerable<budget.Models.User>

@{ ViewBag.title = "Users";}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Users</h3>
        </div>
        <hr />
        <div class="col-md-12">
            <a asp-action="Create" class="btn btn-primary">&nbsp;Create</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr class="text-nowrap">
                        <th>User</th>
                        <th>Username</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderBy(x => x.Name))
                    {
                        <tr class="text-nowrap">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Username)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-Id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-Id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-Id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


